<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ljosias.appcontroledepresencas">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainUsuarioActivity"
            android:label="@string/title_activity_main_usuario"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CursoCrudActivity" />
        <activity
            android:name=".ProfessorCrudActivity"
            android:label="@string/title_activity_professor_crud" />
        <activity android:name=".ProfessorRegisterActivity" />
        <activity android:name=".AlunoRegistroActivity" />
        <activity
            android:name=".menuprofessor.ProfessorLoginMainActivity"
            android:label="@string/title_activity_professor_login_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mainaluno.AlunoMainActivity"
            android:label="@string/title_activity_aluno_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfessorMainActivity"
            android:label="@string/title_activity_professor_main" />
        <activity
            android:name=".AlunoMainActivity"
            android:label="@string/title_activity_aluno_main" />
        <activity android:name=".PresencaActivity" />
        <activity android:name=".TurmaRegistroActivity" />

        <activity android:name=".ListaAlunosMainActivity" />
        <activity android:name=".ListaCursoTurmaActivity" />
        <activity android:name=".ListaOpcoesActivity"></activity>
    </application>

</manifest>